*, *::before, *::after { /* resetul nu se aplica la before si after decat daca scriem explicit si pentru ele */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 8px;
    perspective-origin: 50%;
}
.back {
    transform: translateZ(0px);
}
.front {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateZ(3px) scale(0.625); /* scaleFactor pentru a ramane la dimensiunea lui initiala */
}
.gear {
    position: absolute;
    top: 70%;
    right: 30%;
    transform: translateZ(4px) scale(0.5);
}
.gear img {
    width: 200px;
}
h1 {
    font-size: 35px;
}
/*.container div {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    transform: translateZ(5px);  daca scadem -10px, se va micsora obiectul (pare ca se duce mai in spate), daca e cu 3px sau 5px, se mareste aka vine mai in fata 
}*/