/*aici nu se mai scrie "style", se foloseste "in line" in html adica*/

body {
  background-color: NavajoWhite; /*culoare de fundal, de aceea se scrie in body*/
  font-family: fantasy; /*familia de fonturi se foloseste in caz ca browserul sau alti factori influenteaza aparitia fontului dorit de noi. asa ca dam o lista de fonturi din care sa aleaga pe rand daca nu este gasit primul.*/
}
h1 {
  font-size: 35px; /*dimensiunea fontului/scrisului se face in numar de pixeli, insa acum nu mai folosim nr de pixeli, pentru ca vrem ca site-ul nostru sa fie responsive - depinde de rezolutia ecranului pe care il vom vedea*/
}
h2 {
  font-size: 28px;
}
h1, h3 {
  color: darkolivegreen; /*culoarea textului h1, daca vreau sa se aplice la mai multe, pun virgula apoi restul, h3, h2, sau ce mai vreau*/
}
h3 {
  color: saddlebrown; /*daca aceste comenzi vin in aceasta ordine, aceasta culoare pentru h3 va fi pastrata. comenzile se iau in ordine.*/
}
span {
  color: darkolivegreen;
}
#special { /*folosim id-ul creat mai devreme, pentru astfel de id-uri se foloseste "#" pentru a le defini*/
  color: saddlebrown;
}
