h1::before {
    content: "H1.";
}
h1::after {
    content: ".";
}
a {
    text-decoration: none;
    color: cornflowerblue;
    font-size: 1.3em;
    font-family: Futura;
}
a:hover::after {
    content: "";
    display: block;
    height: 3px;
    background-color: blueviolet;
    width: 0;
    animation-name: grow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes grow {
    to {
        width: 4em;
    }
}